body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 100;
    font-family: 'Adobe Garamond', serif;
    background-color: rgb(255, 255, 255);
}
  
.left-header {
    font-size: 2rem;
}

.left-header .title {
    color: black;
    text-decoration: none;
    display: inline-block;
}


.left-header .subtitle {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin-top: 5px; /* adjust this value as per your requirements */
}

.left-header a {
    color: black;
    text-decoration: none; 
}

.right-header {
    padding-top: 10px;
}
  
.right-header nav a {
    color: #000;
    text-decoration: none;
    margin-left: 2rem;
}
  
.right-header nav a:hover {
    color: grey;
}
  
.jpg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust the value as per your desired spacing */
  height: 500px; /* Adjust the value as per your desired image height */
}

.jpg {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}



.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust the value as per your desired spacing */
  margin-top: 50px;
}

.gif {
  max-width: 45%; /* Adjust the width of the GIF as per your preference */
  height: auto;
}


.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: -10px;  /* adjust this negative value to move thumbnails up */
}

.thumbnail {
  width: auto;
  height: 70px; /* Adjust the value as per your desired thumbnail height */
  margin: 5px;
  cursor: pointer;
  object-fit: cover;
}

.caption {
  text-align: left;
  text-align: center;
  font-family: 'Adobe Garamond', serif;
  font-size: medium;
  margin-bottom: 150px;
}

.gif-caption {
  font-family: 'Adobe Garamond', serif;
  font-size: 5px;
  margin-top: -10px;
  margin-bottom: 50px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(168, 167, 167);
}

.thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}
  
.centered-text {
    color: rgb(91, 91, 91);
    font-family: 'Adobe Garamond', serif;
    width: 100%;
    margin-bottom: 300px;
}

  
.centered-text h1 {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  color: black;
}

.centered-text h1 p {
  margin: 0;
}
  
  .centered-text p {
    text-align: justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
