body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 100;
    font-family: 'Adobe Garamond', serif;
    background-color: white;
}
  
.left-header {
    font-size: 2rem;
}

.left-header .title {
    color: black;
    text-decoration: none;
    display: inline-block;
}


.left-header .subtitle {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin-top: 5px; /* adjust this value as per your requirements */
}

.left-header a {
    color: black;
    text-decoration: none; 
}

.right-header {
    padding-top: 10px;
}
  
.right-header nav a {
    color: #000;
    text-decoration: none;
    margin-left: 2rem;
}
  
.right-header nav a:hover {
    color: grey;
}
  .gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* It now expands based on the content */
}

  
  #gif-1 {
    width: 70%;
    height: auto;
    margin-top: 50px; /* Adjust this to move the gif down */
    margin-bottom: 100px; /* Adjust this to control the spacing between the gif and the body paragraph */
}

.caption {
  text-align: left;
  text-align: center;
  font-family: 'Adobe Garamond', serif;
  font-size: medium;
  margin-top: -100px;
  margin-bottom: 150px;
}
  
.centered-text {
  color: rgb(91, 91, 91);
  font-family: 'Adobe Garamond', serif;
  width: 100%;
  margin-bottom: 300px;
}


.centered-text h1 {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  color: black;
}


.centered-text h1 p {
margin: 0;
}

.centered-text p {
  text-align: justify;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
